main {
  margin: auto;
  text-align: center;
}

input {
  width: 98%;
  max-width: 1113px;
  margin-bottom: 12px;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  max-width: 1120px;
  max-height: 630px;
}
